@model IEnumerable<CupMetric.Models.Ingrediente>

@{
    ViewData["Title"] = "Index";
}

<h1>Ingredientes</h1>

<p>
    <a asp-action="Create">Crear nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdIngrediente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Densidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Imagen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Almacenamiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sustitutivo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Medible)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdIngrediente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Densidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Imagen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Almacenamiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sustitutivo)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Medible)
            </td>
            <td>
                @Html.ActionLink("Actualizar", "Update", new { idIngrediente=item.IdIngrediente }) |
                    @Html.ActionLink("Details", "Details", new { idIngrediente = item.IdIngrediente }) |
                    @Html.ActionLink("Delete", "Delete", new { idIngrediente = item.IdIngrediente })
            </td>
        </tr>
}
    </tbody>
</table>
