@model IEnumerable<CupMetric.Models.User>

@{
    ViewData["Title"] = "Usuarios";
}

<h1 class="text-center">Listar Usuarios</h1>

<p class="text-center">
    <a class="btn btn-primary" asp-action="Create">Crear nuevo Usuario</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>            
            <th>
                @Html.DisplayNameFor(model => model.IdRol)
            </th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdUsuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>            
            <td>
                @Html.DisplayFor(modelItem => item.IdRol)
            </td>
            <td>
                    <a class="btn btn-info" asp-action="Details" asp-route-idUsuario="@item.IdUsuario">Detalles</a>
                    <a class="btn btn-warning" asp-action="Update" asp-route-idUsuario="@item.IdUsuario">Editar</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-idUsuario="@item.IdUsuario">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
