@* <div class="card" aria-hidden="true">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title placeholder-glow">
            <span class="placeholder col-6"></span>
        </h5>
        <p class="card-text placeholder-glow">
            <span class="placeholder col-7"></span>
            <span class="placeholder col-4"></span>
            <span class="placeholder col-4"></span>
            <span class="placeholder col-6"></span>
            <span class="placeholder col-8"></span>
        </p>
        <a class="btn btn-primary disabled placeholder col-6" aria-disabled="true"></a>
    </div>
</div> *@
@model List<Receta>
@{
    int i = 0;
}
<div class="container mt-sm-2 mt-lg-5 col-xl-8 col-md-10 col-sm-12 bg-body rounded-3 bg-opacity-10 box-shadow">
    <div>
        <a asp-action="Create" class="btn btn-outline-dark">Crear Receta (solo sesion)</a>
    </div>
    @*     <div class="row">

    <section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
    <h1>Destacados</h1>
    <div class="card"
    style="width:18rem;">
    <img src="https://media.geeksforgeeks.org/wp-content/cdn-uploads/20210322182256/AngularJS-Tutorial.png"
    class="card-img-bottom"
    height="200px"
    width="100px">
    <div class="card-body card-img-overlay text-white border-secondary">
    <h5 class="card-title">
    Angular JS
    </h5>
    </div>
    </div>

    </div>
    </section>


    </div> *@
    <div class="row">
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <h1>Listado</h1>
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    @foreach (Receta rec in Model)
                    {
                        <div class="col mb-5">
                            <div class="card h-100">
                                <!-- Sale badge-->
                                @if (i < 3)
                                {
                                    <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Destacado</div>
                                }
                                <!-- Product image-->
                                <img class="card-img-top" src="@rec.Imagen" alt="@rec.Nombre">
                                <!-- Product details-->
                                <div class="card-body p-4">
                                    <div class="text-center">
                                        <!-- Product name-->
                                        <h5 class="fw-bolder">@rec.Nombre</h5>
                                        <div class="d-flex justify-content-center small text-warning mb-2">
                                            @rec.MediaValoraciones
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                                <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                            </svg>
                                        </div>
                                        @* <span class="text-primary">* Ingrediente</span> *@
                                    </div>
                                </div>
                                <!-- Product actions-->
                                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                    <div class="text-center"><a class="btn btn-outline-dark mt-auto" asp-action="Receta" asp-route-idreceta="@rec.IdReceta">Ver receta</a></div>
                                </div>
                            </div>
                        </div>
                        {
                            i++;
                        }
                    }
                </div>
            </div>
        </section>
    </div>
</div>